body {
  margin: 0;
  padding: 0;
  background-color: #add8e6; /* azul claro */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

.start-button {
  background-color: #d0e830; /* verde-lima */
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.start-button:hover {
  background-color: #b4cc2e;
}

.register-text {
  font-size: 14px;
  color: #001f3f;
}

.register-link {
  color: #0033cc;
  text-decoration: none;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}
